*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(32, 32, 32);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 50vh;
    width: 100vh;
}

#box{
    min-height: 100px;
    min-width: 100px;
    
    height: 80%;
    width: 40%;

    max-height: 1000px;
    max-width: 1000px;

    background-color: rgb(107, 107, 138);
    margin: auto;
    margin-bottom: 10px;

}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 10px;
    border-radius: 20px;

    max-width: 400px;
    margin: auto;
}

#controls > *{
    max-width: 500px;
    margin: 2px;
}

#controls .disable{
    display: none;
}